<%- include('partials/top') %>

<div class="ui container" id="head">
	<h1>Weather App</h1>
	<form class="ui massive form" method="GET" action="/">
			<div class="field">
				<input type="text" name="address" placeholder="Location" />
			</div>
		<input class="ui button massive" type="submit" value="Go" />
  	</form>

	<% if(data) { %>
		<h1><%= data.temp_c %>	&#8451;</h1>
	<% } %>


	

</div>

<!-- bottom---------------------- -->
<%- include('partials/bottom') %>
