<%- include('partials/top') %>

<div class="ui container" id="head">
	<h1 class="header">Weather App</h1>
	<form class="ui massive form" method="GET" action="/">
		<div class="field">
			<input type="text" name="address" placeholder="Location" />
		</div>
		<input class="ui button massive" type="submit" value="Go" />
	</form>

	<% if(data) { %>
	<div class="ui segment">

		<%if(data.hasLocation) { %>
		<h1><em class="address"><%= data.address %> -</em> <%= data.temp_c %> &#8451;</h1>
		<% } else { %>
		<h1 class="err">No location found.</h1>
		<%} %>


	</div>
	<% } %>


</div>

<%- include('partials/bottom') %>