<%- include('partials/top') %>

<a href="/"><h1><%= title %></h1></a>
<form method="GET" action="/">
	<input type="text" name="address" placeholder="Location" />
	<input type="submit" value="Go" />
</form>

<% if(data) { %>
<h1><%= data.temp_c %></h1>
<% } %>

<!-- bottom---------------------- -->
<%- include('partials/bottom') %>
