html {
	font-size: 10px;
}

body {
	color: #666 !important;
	background: url(../img/background.jpg) no-repeat center center fixed !important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover !important;
}

#nav {
	background-color: #cbced7;
}

#head .header {
	font-size: 3rem;
}

#head {
	margin-top: 3rem;
	text-align: center;
}

#head h1 {
	font-size: 1.5rem;
}

#head .err {
	font-size: 2rem;
}

.field input {
	text-align: center;
	color: #555 !important;
	font-weight: 100;
}

.ui.massive.form {
	width: 60%;
	margin: 0 auto;
}

.ui.segment {
	width: 60%;
	margin: 1.8rem auto !important;
	height: 4.5rem;
	background-color: #cccfd8 !important;
}
